


<ion-content>
  <ion-tabs>
    <ion-tab-bar>



      <ion-tab-button tab="home">
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="notificat">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>notificat..</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="explore">
   <ion-icon name="telescope-outline"></ion-icon>
        <ion-label>explore</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>profile</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>

